.header-clases {
    background-color: rgb(15, 14, 14);
    font-family: 'Bebas Neue', cursive;
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1;
}

.header-clases h1 {
    font-size: 60px;
    color: rgb(255, 221, 1);

}

.header-clases h4 {
    width: 600px;
    font-size: 25px;
    text-align: center;
    
}

.contenedor-img-cla img{
    
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}

.content-img-cla1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla3 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 1560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla4 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 2060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla5 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 2560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla6 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 3060px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.content-img-cla7 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 3580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 231, 231);
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.clases-tit1:hover{
    color: rgb(255, 221, 1);
    cursor: pointer;
}

.footer-cla{
    background-color: black;
    height: 200px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    
    }
    
    .parte-arriba-footer-cla{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .parte-arriba-footer-cla h3 a{
        text-decoration: none;
        color: white;
    }
    
    .iconos-fot{
        display: flex;
        align-items: center;
        
    }
    .parte-abajo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media only screen and (max-width: 700px){

    .contenedor-img-cla img{
    height: 220px;
    }
    .content-img-cla1 {
        top: 440px;
        font-size: 20px;
    }
    .content-img-cla2 {
        top: 670px;
        font-size: 20px;
    }
    .content-img-cla3 {
        top: 890px;
        font-size: 20px;
    }
    .content-img-cla4 {
        top: 1120px;
        font-size: 20px;
    }
    .content-img-cla5 {
        top: 1340px;
        font-size: 20px;
    }
    .content-img-cla6 {
        top: 1560px;
        font-size: 20px;
    }
    .content-img-cla7 {
        top: 1780px;
        font-size: 20px;
    }

    .footer-cla{
        
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-cla img{
        padding-left: 25px;
        
    }
    
    .parte-arriba-footer-cla{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 10px;
    }
    .separador-swich-fot-cla,
    .footer-cla h3{
        display: none;
    }
}